@use '../../../styles/variables' as v;

@keyframes fade {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0 0;
  }
  51% {
    transform-origin: 100% 0;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 0;
  }
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: v.$color;
  font-size: 2em;
  animation: fade .75s infinite alternate;

  &::after {
    content: "";
    height: 30%;
    width: 100%;
    background-color: v.$color;
    opacity: .3;
    position: absolute;
    top: 70%;
    left: 0;
    animation: load 1.5s infinite;
  }
}
