@use 'sass:color';
@use 'sass:math';
@use '../../styles/variables' as v;

.content {
  padding: v.$gutter;

  &-title {
    font-size: 2em;
    color: v.$color;
    margin-bottom: v.$gutter;
    padding-bottom: math.div(v.$gutter, 4);
    border-bottom: 1px solid color.scale(v.$color, $alpha: -80%);
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
