@use '../../../styles/variables' as v;

.steps {
  background-color: #F2F2F2;
  padding: v.$gutter;
  border-radius: v.$gutter v.$gutter 0 0;
}

.step {
  padding-left: 2em;
  margin: v.$halfGutter 0;
  position: relative;

  &::before {
    content: '';
    background: v.$color;
    left: 0;
    top: 50%;
    height: 1px;
    width: 1.1em;
    position: absolute;
  }
}
